.box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.box1 {
    width: 85%;
    background: transparent;
}
.btn1{
    margin-left:180px;
}


